@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #f9f9f9;
}

header{
  text-align: center;
  margin: 2rem 0;
}

header h3{
  font-size: 30px;
  font-weight: 800;
}

header p{
  font-size: 20px;
}

section{
  width: 100%;
  margin: auto;
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  border-bottom: 2px solid #333;
}

section div{
  width: 25%;
  text-align: center;
  margin: 2rem;
}

section div:hover{
  cursor: pointer;
}

section img{
  width: 200px;
  height: 130px;
}

section h4{
  font-size: x-large;
  font-weight: 600;
}

section p{
  margin: 0.3rem 1rem;
  align-items: flex-start;
}

article{
  width: 80%;
  margin: 4rem auto;
  border-bottom: 2px solid #333;
}

article div{
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

article img{
  width: 40%;
}

article p{
  width: 40%;
}

article p span{
  font-size: 3rem;
  font-weight: 700;
}

main{
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

main img{
  width: 30vw;
  height: 100vh;
}